.header{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgrey;

    ul{
        display: flex;
        margin: 0;
        padding-bottom: 20px;


        li{
            list-style: none;
            margin-right: 50px;
            font-size: 18px;
            font-family: 'Varela', sans-serif;
            font-weight: 700;
            cursor: pointer;

        }

    }

}