.post{
    display: flex;
     align-items:center;
     justify-content:space-between;
     gap: 2rem;
     
    //  margin-top: 3rem;
    padding-bottom: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0;
    line-height:1.3rem;
    @media (min-width:62.25rem) {
       line-height: 1.9rem;
    }
    font-weight: 400;

     a{
        text-decoration: none;
     }
    .postInfo{
        flex-grow: 1;

        .postHeader{
            display: flex;
            gap: 0.7rem;
            align-items: center;
           
             a{
                color:#48af8d;;
                h4{
                font-size: 14px;
                @media (max-width:34.2rem) {
                    font-size: 12px;

                }
                    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                    

                }
              
             }

            .authorPic{
                width: 25px;
                height: 25px;
                @media (max-width:34.2rem) {
                    width: 20px;
                    height: 20px;     
                    object-fit: cover;
                }

                object-fit: cover;
                border-radius: 50%;
            }

        }

        .postTitle{
            a{
                color: black;
                font-weight: 700;
                font-size: small;
                @media (min-width:62.25rem) {
                    font-size: 0.9rem;
                }
            }
            .subtitle{
                p{
                    color:grey;
                    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-weight: 400;
                    font-size: 0.8rem;
                    line-height: 1.2;
                    @media (min-width:62.25rem) {
                        font-size: 0.9rem;
                    }


                 
                }
            }
        }


        .postFooter{

            display: flex;
            justify-content: space-between;
            color: grey;
            font-size: 0.7rem;
            @media (min-width:62.25rem) {
                font-size: 0.9rem;
            }

            a{
                color: grey;
                background-color: rgb(243, 241, 241);
                border-radius: 20px;
                padding: 0 0.5rem;
                
            }
            .firstDot{
                @media (max-width:34.2rem) {
                    display:none;

                }
            }
            .readTime{
                @media (max-width:34.2rem) {
                    display:none;

                }

            }

           
            .left{
                display: flex;
                gap: 0.5rem;
            }
            .saved{
                &:hover{
                    cursor: pointer;
                }
            }
        }

    }

        .postPic{
            width: 200px;
            height: 135px;
            object-fit: cover;
            @media (max-width:34.2rem) {
                width: 150px;
                height: 100px;
                object-fit: cover;

            }
        }
    
}