.post{

    display: flex;
     align-items:center;
     justify-content:space-between;
     gap: 2rem;
     @media (max-width:24.375rem) {
     gap:0.5rem;
    }
    &:hover{
        transition: all ease 0.3s;
        background-color: rgb(250, 250, 250);
     }
     
    //  margin-top: 3rem;
    padding-bottom: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0;
    line-height:1.3rem;
    @media (min-width:62.25rem) {
       line-height: 1.9rem;
    }
    @media (max-width:24.375rem) {
        line-height: 1rem;
    }

    font-weight: 400;

     a{
        text-decoration: none;
     }
    .postInfo{
        
        flex-grow: 1;

        .postHeader{
            display: flex;
            gap: 0.7rem;
            align-items: center;
           
             a{
                color:#48af8d;;
                h4{
                font-size: 14px;
                @media (max-width:34.2rem) {
                    font-size: 12px;

                }
                @media (max-width:24.375rem) {
                    font-size: 10px;
               
                   }
                    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                    

                }
              
             }

            .authorPic{
                width: 25px;
                height: 25px;
                @media (max-width:34.2rem) {
                    width: 20px;
                    height: 20px;     
                    object-fit: cover;
                }
                @media (max-width:24.375rem) {
                    width: 17px;
                    height: 17px;     
                    object-fit: cover;
                }
               

                object-fit: cover;
                border-radius: 50%;
            }

        }

        .postTitle{
            a{
                color: black;
                font-weight: 700;
                font-size: small;
                @media (min-width:62.25rem) {
                    font-size: 0.9rem;
                }
                @media (max-width:24.375rem) {
                    font-size: 0.6rem;
                }

            }
            .subtitle{
                p{
                    color:grey;
                    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-weight: 400;
                    font-size: 0.8rem;
                    line-height: 1.2;
                    @media (min-width:62.25rem) {
                        font-size: 0.9rem;
                    }
                    @media (max-width:24.375rem) {
                        font-size: 0.5rem;
                    }


                 
                }
            }
        }


        .postFooter{

            display: flex;
            justify-content: space-between;
            color: grey;
            font-size: 0.7rem;
            @media (min-width:62.25rem) {
                font-size: 0.9rem;
            }
            @media (max-width:24.375rem) {
                font-size: 0.5rem;
           
               }

            a{
                color: grey;
                background-color: rgb(243, 241, 241);
                border-radius: 20px;
                padding: 0 0.5rem;
                @media (max-width:24.375rem) {
                    display:none;

                }
                
            }
            .dot{
                @media (max-width:24.375rem) {
                    display:none;

                }
            }
            .firstDot{
                @media (max-width:34.2rem) {
                    display:none;

                }
            }
            .readTime{
                @media (max-width:34.2rem) {
                    display:none;

                }

            }

           
            .left{
                display: flex;
                gap: 0.5rem;
            }
            .right{
                display: flex;
                gap: 0.5rem;
                align-items: center;
                .trash{
                    color: red;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .saved{
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
           
        }

    }

        .postPic{
            width: 200px;
            height: 135px;
            object-fit: cover;
            transition: all ease 0.3s;
           
            @media (max-width:34.2rem) {
                width: 150px;
                height: 100px;
                object-fit: cover;

            }
            @media (max-width:24.375rem) {
                width: 120px;
                height: 80px;
                object-fit: cover;
            }
            @media (max-width:20rem) {
                width: 80px;
                height: 80px;
                object-fit: cover;
            }
            &:hover{
                transition: all ease 0.3s;
                scale: 1.02;
            }

        }
    
}